.modify-form-header {
  display: flex;
  flex-direction: column;
}

.modify-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & button {
    width: 100%;
    background-color: rgb(247, 117, 117);
    border-color: black;

    &:hover {
      background-color: rgb(250, 75, 75);
    }
  }
}

.eka-details {
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.toka-details {
  margin-top: 1rem;
}
